<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer" style="background-color:#007775;">
        <header style="background-color:#007775;">
          <header class="inner" style="background-color:#007775;">
            <img src="/files/picture_anna.jpg" alt="picture of me" width=30% style="float:right;">
            <h1 style="color:#ddded6;font-size:200%;"> Anna Julia Zsigmond </h1>
            <p style="color:#ddded6">former postdoc at Max Planck Institute for Physics</p>
            <p style="font-family:courier;color:#ddded6">azsigmon@mpp.mpg.de</p>
            <br>
            <a style="color:#ddded6" href="/">Home</a> &nbsp;
            <a style="color:#ddded6" href="/publications">Publications</a> &nbsp;
            <a style="color:#ddded6" href="/conferences">Conferences</a> &nbsp;
            <a style="color:#ddded6" href="/teaching">Teaching</a> &nbsp;
          </header>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer" style="background-color:#007775;">
      <footer class="inner" style="background-color:#007775;">
      </footer>
    </div>
  </body>
</html>
